<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Home - FICformer: A Multi-factor Fuzzy Bayesian Imputation Cross-former for Big Data-driven Agricultural Decision Support Systems</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">
  

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
       
        <h1 style="color: #366730;"><i class="fa fa-seedling me-2"></i> Agri<span style="color:#d9232d;">FIC</span></h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/index" class="active">Home</a></li>
          <li><a href="/UserLogin" >User Login</a></li>
          <li><a href="/Register" >Register</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      

    </div>
  </header>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="../static/img/farmer-monitors.jpeg" alt="">
          <div class="carousel-container">
            <h4 class="text-uppercase"> Welcome To Dashboard</h4>
            <h2 class="text-center">FICformer: A Multi-factor Fuzzy Bayesian Imputation Cross-former for Big Data-driven Agricultural Decision Support Systems<br></h2>
            <a href="/UserLogin" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="../static/img/drone.jpg" alt="">
          <div class="carousel-container">
            <h4 class="text-uppercase"> Welcome To Dashboard</h4>
            <h2 class="text-center">FICformer: A Multi-factor Fuzzy Bayesian Imputation Cross-former for Big Data-driven Agricultural Decision Support Systems<br></h2>
            <a href="/UserLogin" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="../static/img/tractor-2.jpg" alt="">
          <div class="carousel-container">
            <h4 class="text-uppercase"> Welcome To Dashboard</h4>
            <h2 class="text-center">FICformer: A Multi-factor Fuzzy Bayesian Imputation Cross-former for Big Data-driven Agricultural Decision Support Systems<br></h2>
            <a href="/UserLogin" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container py-5">

        <div class="row gy-4" >

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <p class="btn btn-secondary text-uppercase">About Us</p>
            <h1 class="mt-2">Revolutionizing Agricultural Decisions with AI-Powered FICformer<br></h1>
            <p class=" mt-4 mb-2">
              <b>FICformer</b> (Multi-factor Fuzzy Bayesian Imputation Cross-former) is an AI-driven research project aimed at improving agricultural decision-making through smart data handling. 
              It addresses the challenges of incomplete, noisy, and high-dimensional agricultural data using a combination of <b>fuzzy logic</b>, <b>Bayesian inference</b>, and <b>transformer-based deep learning</b>.
            </p>
            <p class="mb-2">
              At its core, FICformer features a fuzzy Bayesian imputation engine to clean and complete datasets, followed by a Cross-former model that learns complex patterns across time and variables. 
              This enables accurate predictions and insights for applications like precision farming, yield forecasting, irrigation planning and disease detection.
            </p>
            <p class="mb-2">
             By enhancing the quality and reliability of agricultural data, FICformer empowers farmers, agronomists, and policymakers to make smarter, data-driven decisions—boosting productivity, efficiency, and sustainability in the agriculture sector.
            </p>            
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Handles missing and inconsistent agricultural data using fuzzy Bayesian imputation.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Utilizes a transformer-based Cross-former model for learning complex data patterns.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Supports real-time decision-making for smart farming and precision agriculture.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Improves crop yield forecasting, irrigation planning, and disease detection.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Enables scalable integration with big data platforms and IoT-based agricultural systems.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <img class="w-100 " src="../static/img/about-1.jpg" alt="" style="max-height: 800px; padding: 20px; border-radius: 30px; object-fit: cover;" >
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    
  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container copyright text-center mt-2">
      <p>© <span>Copyright</span> <span>All Rights Reserved Designed by <a href="#">AgriFIC</a> Distributed by <a href="#">AgriFIC</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>